<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AIDatabase" connectionString="metadata=res://*/DolanyAI.Db.AIDatabase.csdl|res://*/DolanyAI.Db.AIDatabase.ssdl|res://*/DolanyAI.Db.AIDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172_16_0_10\SQLEXPRESS;attachdbfilename=C:\AIDB\AIDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AmandaLogDatabase" connectionString="metadata=res://*/DolanyAI.Db.AmandaLogDatabase.csdl|res://*/DolanyAI.Db.AmandaLogDatabase.ssdl|res://*/DolanyAI.Db.AmandaLogDatabase.msl;provider=Devart.Data.SQLite;provider connection string=&quot;Data Source=C:\AmandaQQ\temp\2105668527.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Devart.Data.SQLite" type="Devart.Data.SQLite.Entity.SQLiteEntityProviderServices, Devart.Data.SQLite.Entity.EF6, Version=5.11.1190.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
</configuration>